
/* Header */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  
  background: linear-gradient(#3891eb, #61a7ed) ;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header2 {
  background: linear-gradient( #61a7ed, #83bdd6) ;

  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-style: groove;
  
  border-color: black;
  border-width: 1px;
}





.users {
  display: flex;
  background-color: #c4edff;

height: 700vh;
  
}
.usersContent {
  display: flex;
  height: 100px;
  flex-direction: column;
  
  align-items: center;
  width: 80vw
}





.edit {
  background-color: coral;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text {
  background-color: white;
  height: 700px;
  width: 80vw;

}

.word {
  display: flex;
  justify-content: center;
}

.textInput{
  display: flex;
  justify-content: center;
}

.account{
  padding-bottom: 20px;
  padding-right: 700px;
  
  
}

.editI{
  padding-right: 700px;
}

.info{
  background-color: #e8eced;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: groove;
  border-color: black;
  border-width: 1px;
  box-shadow:2px 2px 		
  #135730;
}

.PageManager{
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-width: 1px 0px 0px 0px;
  border-color: black;
  border-style: solid;
}
 
.Page{
  padding-right: 700px;
}


.nav {
  margin-top: 134px;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 20%;
  justify-content: left;
  background-color: #83bdd6;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.settings{
  height: 50px;
  background-color: #90bed1;
  border-color: black;
  margin-bottom: 20px;
  width: 100%;


}
.iwork{
  height: 50px;
  background-color: #90bed1;
  border-color: black;
  margin-bottom: 20px;
  width: 100%;
}
.iup{
  height: 50px;
  background-color: #90bed1;
  border-color: black;
  width: 100%;

}


.uploads{
  background-color: #D749CD;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: groove;
  border-color: black;
  border-width: 1px;
  box-shadow:2px 2px 		
  #9B4996;
  

}

.uploadItem{
  height:150px;
  width: 120px;
  border-style: solid;
  border-color: black;
  background-color: #bec0c2;
margin-left: 73px;
margin-right: 20px;
margin-top: 20px;
}


.uploadImage{
  height: 110px;
  width: 120px;
  background-color: white;
}

.uploadDesc{
  display: flex;
  background-color: grey;
  height: 40px;
}




.workpls{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;


 
  
}




/* Front page  */

.banner {
  
  width: 80%;
  height: 500px;
  position: relative;
}
.bottom{
  height: 500px;
  padding-left: 13.1%;
}
.top{
  height: 500px;
  padding-left: 13.1%;
}

section img {
  position: absolute;
  height: 200px;
  width: 100%;
  display: flex;
}


.top {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-direction: alternate;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.seet{
  height: 100%;
  background-color: #90bed1;
}
.filler {
  background-color: blue;
  height: 200px;
  display: flex;
}

.desc {
  background-color: whitesmoke;
  
  height: 200px;
  display: flex;
  align-items: center;
 justify-content: space-between;
 width: 80%;
 margin-left: 10.5%;
}
.featured {
  background-color: red;
  height: 600px;
}



.WorkI{
  background-color: #e8eced;
  width: 80%;
  margin-left: 150px;
  /* padding-left: 50px;; */
  height: 1,000px;
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  border-style: groove;
  border-color: black;
  border-width: 1px;
  box-shadow:2px 2px 		
  #d5dadb
  ;
  
  

}

.WorkII{
  background-color: #e8eced;
  width: 80%;
  margin-left: 150px;
  /* padding-left: 50px;; */
  height: 1,000px;
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  flex-direction: row-reverse;
  border-style: groove;
  border-color: black;
  border-width: 1px;
  box-shadow:2px 2px 		
  #d5dadb
  ;
  
  

}

.Worker{
  background-color: #d7d8d9;
  width: 80%;
  margin-left: 10.4%;
  /* padding-left: 50px;; */
  height: 1,000px;
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  border-style: groove;
  border-color: black;
  border-width: 1px;
  box-shadow:2px 2px 		
  #d5dadb
  ;
  
  

}


.itemHp{
  background: linear-gradient(#90c7de, #567582) ;
  height:200px;
  width: 80%;
  border-style: solid;
  border-color: black;
margin-left: 73px;
margin-right: 20px;
margin-top: 20px;
}


.ImageHp{
  height: 100%;
  width: 175px;
  background-color: white;
}

.DescHp{
  display: flex;
 
  height: 40px;
}

.boxHp{
  height: 100%;
  display: flex;

}


.editImage{
  height: 50px;
  width: 50px;
}

.WorkU{
  background-color: #e8eced;
  width: 80%;
  margin-left: 150px;
  /* padding-left: 50px;; */
  height: 1,000px;
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  border-style: groove;
  border-color: black;
  border-width: 1px;
  box-shadow:2px 2px 		
  #d5dadb
  ;

}

.workpls{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
}

.uploadView{
  height:150px;
  width: 100%;
  border-style: solid;
  border-color: black;
  background-color: #bec0c2;
margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
}

.uploadImage{
  height: 70%;
  width: 120px;
  background-color: white;
 
}


.ee{
  display:flex;
  font-size: 20px;
}

.imageSpace{
  height:100%;
  display: flex;
}

.uploadText{
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
}

.uDesc{
  max-width: 100%;
  max-height: 10px;;
  
}

.yeah{
  display: flex;
  flex-direction: column;
}

.e{
  max-width: 100%;
}


.dropbtn {
  background-color: #90bed1;
  padding: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 920%;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: red;
  z-index: 1;
  color: black;
  margin-left: 920%

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.loggedIn{
  display: flex;
}

.content{
  height: 50px;
 background-color: black;
  position: absolute;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.contentEdit{
  z-index: -1;
  ;
}

.potato{
  height: 40px;
  width: 80px;
  margin-left: 10px;;
}

.pDocs{
  color: white;
  font-family: cursive;
  font-size: 40px;
}

.pp{
  display: flex;
  align-items: center;
  flex-direction: row;
  
}

.browse{
  height: 30px;
  width: 100px;
  background-color: rgb(179, 179, 255);
  color: white;
  border-color: black;
}
.acccount{
  height: 30px;
  width: 100px;
  background-color: rgb(179, 179, 255);
  color: white;
  border-color: black;
  
}

.rr{
  width: 175px;
  height: 200px;
}

.register{
  background-color:#83bdd6 ;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xxx{
 background-color: #90bed1;
 height: 400px;
 width: 400px;
 border-style: solid;
 border-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.Image{
  height:100px;
  width: 100px;
}





@media (max-width: 600px){
  .everything{
    width: 100%
  }
  .seet{
    width: 425px;
  }
  .bottom{
    height: 100%;
    padding-left: 0px;
    width: 425px;


  }
  .top{
    height: 100%;
    width: 425px;
    padding-left: 0px;
  }
  .desc{
    width: 425px;
    margin-left: 0px;
  }
  .Worker{
    width: 425px;
    margin-left: 0px;
  }
  .DescHp{
   display: none;
  
  }
  .itemHp{
    margin-left: 20px;
    width: 385px;
  }
  .banner{
    height: 200px;
  }
  .acccount{
    width: 60px;
  }
  .browse{
    width: 60px;
  }
  .pDocs{
    display: none;
  }
  .header{
    width: 425px;
  }
  .ret{
    display: none;
  }
  .users{
    width: 425px;
  }
  .WorkI{
    margin-left: 0px;;
  }
}